.block-vertical {
  display: table-cell;
  vertical-align: middle;
}
.icon-table {
  display: table;
  width: 100%;
  height: 100%;
  table-layout: fixed;
}
body {
  color: #000;
}
.sidebar {
  width: 235px;
  height: 100%;
  font-family: 'HelveticaNeueCyrLight';
  text-align: center;
  position: fixed;
  z-index: 101;
  font-size: 18px;
  background-color: #fff;
}
.sidebar .menu {
  position: absolute;
  top: 50%;
  width: 100%;
  left: 0;
  z-index: 2;
  cursor: pointer;
  margin-top: -21.5px;
  outline: 0 !important;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}
.sidebar .menu img {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.sidebar .menu .title {
  padding-bottom: 10px;
}
.sidebar .menu.active img {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
}
.sidebar .info {
  position: absolute;
  left: 0;
  width: 100%;
  bottom: 0;
  z-index: 2;
}
.sidebar .info .inquiries {
  padding-bottom: 20px;
  line-height: 1.2;
}
.sidebar .info .name {
  padding-bottom: 35px;
  line-height: 1.2;
}
.logo {
  padding-top: 25px;
}
.wrapper {
  padding-left: 235px;
  padding-bottom: 50px;
  background-color: #ececec;
}
.col-29 {
  float: left;
  width: 29%;
}
.col-42 {
  float: left;
  width: 42%;
}
.col-58 {
  float: left;
  width: 58%;
}
.col-64 {
  float: left;
  width: 64%;
}
.col-36 {
  float: left;
  width: 36%;
}
.date-time {
  background: #ff0000;
  font-size: 24px;
  font-family: 'HelveticaNeueCyrBlack';
  padding: 5px 25px;
  margin-top: 88px;
}
.date-time .date {
  float: left;
  width: 50%;
}
.date-time .time {
  float: left;
  width: 50%;
  text-align: right;
}
.name-show {
  background: #ff0000;
  text-align: center;
  padding: 15px 0;
  font-size: 30px;
  font-family: 'HelveticaNeueCyrBlack';
  margin-top: 28px;
}
.place {
  font-size: 18px;
  font-family: 'HelveticaNeueCyrLight';
  text-align: center;
  background: #ff0000;
  padding: 7px 0;
  margin-top: 35px;
}
.comment {
  background: #ff0000;
  text-align: center;
  padding: 5px 0;
  font-size: 18px;
  font-family: 'HelveticaNeueCyrBold';
}
.carousel-caption .more {
  width: 60%;
  margin-top: 59px;
}
.carousel-caption .more-link {
  display: block;
  width: 100%;
  padding: 5px 0;
  text-align: center;
  color: #fff;
  font-size: 24px;
  font-family: 'HelveticaNeueCyrLight';
  background: #ff4d4d;
  text-decoration: none;
}
.carousel-caption .more-link:hover {
  color: #000;
}
.carousel-caption .more-link:active {
  background: #fff;
  color: #000;
}
.carousel-caption .tickets-link {
  display: block;
  width: 60%;
  padding: 5px 0;
  float: right;
  text-align: center;
  color: #fff;
  font-size: 24px;
  font-family: 'HelveticaNeueCyrLight';
  background: #ff7f7f;
  text-decoration: none;
}
.carousel-caption .tickets-link:hover {
  color: #000;
}
.carousel-caption .tickets-link:active {
  background: #fff;
  color: #000;
}
.calendar {
  text-align: center;
  background: #d6d6d6;
  font-size: 18px;
  font-family: 'HelveticaNeueCyrBold';
  padding: 10px 0;
}
.nav {
  position: fixed;
  z-index: 100;
  left: 0;
  width: 320px;
  background: #ebebeb;
  height: 100%;
  padding-top: 10px;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.nav.active {
  left: 235px;
  visibility: visible;
  opacity: 1;
}
.nav-list a {
  text-decoration: none;
  color: #010101;
}
.nav-list a:hover {
  color: #959595;
}
.nav-list a:active {
  background: #000;
  color: #fff;
}
.nav-list > li {
  border-top: 3px solid #fff;
}
.nav-list > li:last-child {
  border-bottom: 3px solid #fff;
}
.nav-list > li > a {
  font-size: 24px;
  font-family: 'HelveticaNeueCyrBold';
  padding: 10px 0;
  padding-left: 70px;
  display: block;
}
.nav-list > li > ul > li:first-child a {
  border-top: 1px solid #000;
}
.nav-list > li > ul a {
  font-size: 18px;
  font-family: 'HelveticaNeueCyrLight';
  padding: 3px 0;
  padding-left: 70px;
  display: block;
  border-bottom: 1px solid #000;
}
.small-img {
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: cover;
  height: 190px;
}
.small-img .name-show {
  width: 50%;
  margin-top: 66px;
}
.small-img .place {
  width: 50%;
  float: left;
  margin: 0;
  padding: 8px 0;
}
.small-img .date-time {
  width: 50%;
  float: left;
  margin: 0;
}
.small-img .more {
  width: 60%;
}
.small-img .more-link {
  display: block;
  width: 100%;
  height: 33px;
  line-height: 33px;
  font-size: 24px;
  font-family: 'HelveticaNeueCyrLight';
  text-align: center;
  text-decoration: none;
}
.small-img .tickets-link {
  display: block;
  width: 60%;
  float: right;
  height: 33px;
  line-height: 33px;
  font-size: 24px;
  font-family: 'HelveticaNeueCyrLight';
  text-align: center;
  text-decoration: none;
}
.small-img .bot-block {
  margin-top: 30px;
}
.small-img .more {
  margin-top: 123px;
}
.purple .name-show,
.purple .place,
.purple .date-time {
  background-color: #9932ff;
  color: #fff;
}
.purple .tickets-link {
  background-color: #d6adff;
  color: #fff;
}
.purple .tickets-link:hover {
  color: #000;
}
.purple .more-link {
  color: #fff;
  background-color: #b770ff;
}
.purple .more-link:hover {
  color: #000;
}
.poster .title {
  font-size: 12px;
  font-family: 'HelveticaNeueCyrLight';
  padding: 10px 0;
  padding-left: 20px;
}
.poster-container {
  margin-bottom: 60px;
}
.poster-container .city {
  text-align: center;
  font-size: 24px;
  font-family: 'HelveticaNeueCyrLight';
  margin-bottom: 25px;
}
.poster-list {
  text-align: center;
}
.poster-list .theatre {
  font-size: 24px;
  font-family: 'HelveticaNeueCyrBold';
  margin-bottom: 5px;
}
.poster-list .poster-tel {
  font-size: 18px;
  font-family: 'HelveticaNeueCyrLight';
  margin-bottom: 5px;
}
.poster-list h4 {
  font-size: 18px;
  font-family: 'HelveticaNeueCyrBold';
  margin-bottom: 10px;
}
.poster-list .yandex {
  display: inline-block;
  background: #fff;
  padding: 2px 40px;
}
.poster-list .searcher {
  margin-bottom: 16px;
}
.poster-list .google {
  display: inline-block;
  background: #fff;
  padding: 2px 40px;
}
.poster-list .scheme {
  margin-bottom: 25px;
}
.poster-list .scheme a {
  display: inline-block;
  background-color: #fff;
  text-decoration: none;
  color: #000;
  font-size: 24px;
  font-family: 'HelveticaNeueCyrLight';
  padding: 2px 100px;
}
.advert {
  background-color: #fff;
  width: 80%;
  padding: 25px 20px;
  margin-bottom: 25px;
}
.advert h4 {
  font-size: 18px;
  font-family: 'HelveticaNeueCyrBlack';
  margin-bottom: 25px;
}
.advert h3 {
  font-size: 24px;
  font-family: 'HelveticaNeueCyrBlack';
  margin-bottom: 25px;
}
.advert p {
  font-size: 18px;
  font-family: 'HelveticaNeueCyrLight';
  line-height: 1.3;
  margin-bottom: 20px;
}
.advert p.small {
  font-size: 14px;
}
.advert strong,
.advert b {
  font-family: 'HelveticaNeueCyrBold';
}
.facebook {
  display: inline-block;
  width: 13px;
  height: 23px;
  background: url(../../dist/images/facebook.png) no-repeat;
}
.youtube {
  display: inline-block;
  width: 22px;
  height: 26px;
  background: url(../../dist/images/youtube.png) no-repeat;
}
.vk {
  display: inline-block;
  width: 24px;
  height: 14px;
  background: url(../../dist/images/vk.png) no-repeat;
}
.instagram {
  display: inline-block;
  width: 23px;
  height: 22px;
  background: url(../../dist/images/instagram.png) no-repeat;
}
.social {
  text-align: center;
}
.social .icon {
  display: inline-block;
  width: 42px;
  height: 42px;
}
.social .icon:hover {
  background-color: #ebebeb;
}
.social .icon:active {
  background-color: #000;
}
.social .icon:active .facebook {
  background: url(../../dist/images/facebook-active.png) no-repeat;
}
.social .icon:active .youtube {
  background: url(../../dist/images/youtube-active.png) no-repeat;
}
.social .icon:active .vk {
  background: url(../../dist/images/vk-active.png) no-repeat;
}
.social .icon:active .instagram {
  background: url(../../dist/images/instagram-active.png) no-repeat;
}
.adress {
  text-align: center;
  line-height: 1.3;
  font-size: 18px;
  font-family: 'HelveticaNeueCyrLight';
  margin-bottom: 15px;
}
.up-block {
  text-align: center;
}
.up-btn {
  display: inline-block;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
  font-size: 18px;
  font-family: 'HelveticaNeueCyrBold';
}
.up-btn p {
  margin-top: 3px;
}
