body {
  background-color: #949594;
}
.wrapp {
  width: 1170px;
  margin: auto;
  position: relative;
  height: 100%;
}
img {
  max-width: 100%;
  height: auto;
}
.block-vertical {
  display: table-cell;
  vertical-align: middle;
}
.icon-table {
  display: table;
  width: 100%;
  height: 100%;
  table-layout: fixed;
}
.col-lg-1,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-lg-10,
.col-lg-11,
.col-lg-12 {
  float: left;
}
.col-lg-12 {
  width: 100%;
}
.col-lg-11 {
  width: 91.66666667%;
}
.col-lg-10 {
  width: 83.33333333%;
}
.col-lg-9 {
  width: 75%;
}
.col-lg-8 {
  width: 66.66666667%;
}
.col-lg-7 {
  width: 58.33333333%;
}
.col-lg-6 {
  width: 50%;
}
.col-lg-5 {
  width: 41.66666667%;
}
.col-lg-4 {
  width: 33.33333333%;
}
.col-lg-3 {
  width: 25%;
}
.col-lg-2 {
  width: 16.66666667%;
}
.col-lg-1 {
  width: 8.33333333%;
}
body {
  color: black;
}
body.hidden {
  overflow: hidden;
}
h3.black {
  font-size: 24px;
  font-family: 'HelveticaNeueCyrBlack';
  margin-bottom: 10px;
}
h3.light {
  font-size: 24px;
  font-family: 'HelveticaNeueCyrLight';
  margin-bottom: 10px;
}
h3.bold {
  font-size: 24px;
  font-family: 'HelveticaNeueCyrBold';
  margin-bottom: 10px;
}
h3.bold b {
  font-family: 'HelveticaNeueCyrBlack';
}
h2.black {
  font-size: 30px;
  font-family: 'HelveticaNeueCyrBlack';
  margin-bottom: 10px;
}
h2.bold {
  font-size: 30px;
  font-family: 'HelveticaNeueCyrBold';
  margin-bottom: 15px;
}
h2.bold b {
  font-family: 'HelveticaNeueCyrBlack';
}
.sidebar {
  width: 235px;
  height: 100%;
  font-family: 'HelveticaNeueCyrLight';
  text-align: center;
  position: fixed;
  z-index: 101;
  font-size: 18px;
  background-color: white;
}
.sidebar .menu {
  position: absolute;
  top: 50%;
  width: 100%;
  left: 0;
  z-index: 2;
  cursor: pointer;
  margin-top: -21.5px;
  outline: 0 !important;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}
.sidebar .menu img {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.sidebar .menu .title {
  padding-bottom: 10px;
}
.sidebar .menu.active img {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
}
.sidebar .info {
  position: absolute;
  left: 0;
  width: 100%;
  bottom: 0;
  z-index: 2;
}
.sidebar .info .inquiries {
  padding-bottom: 20px;
  line-height: 1.2;
}
.sidebar .info .name {
  padding-bottom: 35px;
  line-height: 1.2;
}
  .sidebar .info .name a{
    text-decoration: none;
    color: #000;
  }
  .sidebar .info .name a:hover{
    text-decoration: underline;
  }
.logo {
  padding-top: 25px;
}
.wrapper {
  padding-left: 235px;
  padding-bottom: 50px;
  background-color: #ececec;
  min-height: 100%;
}
.wrapper.main-wrapper {
  background-color: #d6d6d6;
}
.col-29 {
  float: left;
  width: 29%;
}
.col-42 {
  float: left;
  width: 42%;
}
.col-58 {
  float: left;
  width: 58%;
}
.col-64 {
  float: left;
  width: 64%;
}
.col-36 {
  float: left;
  width: 36%;
}
.date-time {
  font-size: 24px;
  font-family: 'HelveticaNeueCyrBlack';
  padding: 0 25px;
  height: 34px;
  line-height: 34px;
  margin-top: 88px;
}
.date-time .date {
  float: left;
  width: 50%;
}
.date-time .time {
  float: left;
  width: 50%;
  text-align: right;
}
.name-show {
  text-align: center;
  padding: 15px 0;
  font-size: 30px;
  font-family: 'HelveticaNeueCyrBlack';
  margin-top: 28px;
}
.name-show.main-name-show {
  height: 60px;
  padding: 0;
}
.place {
  font-size: 18px;
  font-family: 'HelveticaNeueCyrLight';
  text-align: center;
  height: 32px;
  line-height: 32px;
  margin-top: 35px;
  overflow: hidden;
}
.comment {
  text-align: center;
  padding: 5px 0;
  font-size: 18px;
  font-family: 'HelveticaNeueCyrBold';
}
.carousel-caption .more {
  width: 60%;
  margin-top: 59px;
  line-height: 26px;
}
.carousel-caption .more-link {
  display: block;
  width: 100%;
  padding: 5px 0;
  text-align: center;
  color: white;
  font-size: 24px;
  font-family: 'HelveticaNeueCyrLight';
  text-decoration: none;
}
.carousel-caption .more-link:hover {
  color: black;
}
.carousel-caption .more-link:active {
  background: white;
  color: black;
}
.carousel-caption .tickets-link {
  display: block;
  width: 60%;
  padding: 5px 0;
  float: right;
  text-align: center;
  color: white;
  font-size: 24px;
  font-family: 'HelveticaNeueCyrLight';
  text-decoration: none;
}
.carousel-caption .tickets-link:hover {
  color: black;
}
.carousel-caption .tickets-link:active {
  background: white;
  color: black;
}
.carousel-inner .item:first-child .date-time,
.carousel-inner .item:first-child .name-show,
.carousel-inner .item:first-child .place,
.carousel-inner .item:first-child .comment {
  background-color: #009999;
}
.carousel-inner .item:first-child .more-link {
  background-color: #4db7b7 !important;
}
.carousel-inner .item:first-child .tickets-link {
  background-color: #7fcbcb !important;
}
.carousel-inner .item:nth-child(2) .date-time,
.carousel-inner .item:nth-child(2) .name-show,
.carousel-inner .item:nth-child(2) .place,
.carousel-inner .item:nth-child(2) .comment {
  background-color: #3299ff;
}
.carousel-inner .item:nth-child(2) .more-link {
  background-color: #70b7ff;
}
.carousel-inner .item:nth-child(2) .tickets-link {
  background-color: #98cbff;
}
.carousel-inner .item:nth-child(3) .date-time,
.carousel-inner .item:nth-child(3) .name-show,
.carousel-inner .item:nth-child(3) .place,
.carousel-inner .item:nth-child(3) .comment {
  background-color: red;
}
.carousel-inner .item:nth-child(3) .more-link {
  background-color: #ff4d4d;
}
.carousel-inner .item:nth-child(3) .tickets-link {
  background-color: #ff7f7f;
}
.carousel-inner .item:nth-child(4) .date-time,
.carousel-inner .item:nth-child(4) .name-show,
.carousel-inner .item:nth-child(4) .place,
.carousel-inner .item:nth-child(4) .comment {
  background-color: #9932ff;
}
.carousel-inner .item:nth-child(4) .more-link {
  background-color: #b770ff;
}
.carousel-inner .item:nth-child(4) .tickets-link {
  background-color: #d6adff;
}
.carousel-inner .item:nth-child(5) .date-time,
.carousel-inner .item:nth-child(5) .name-show,
.carousel-inner .item:nth-child(5) .place,
.carousel-inner .item:nth-child(5) .comment {
  background-color: #ff99cc;
}
.carousel-inner .item:nth-child(5) .more-link {
  background-color: #ffb7db;
}
.carousel-inner .item:nth-child(5) .tickets-link {
  background-color: #ffcbe5;
}
.carousel-inner .item:nth-child(6) .date-time,
.carousel-inner .item:nth-child(6) .name-show,
.carousel-inner .item:nth-child(6) .place,
.carousel-inner .item:nth-child(6) .comment {
  background-color: #ff6532;
}
.carousel-inner .item:nth-child(6) .more-link {
  background-color: #ff9470;
}
.carousel-inner .item:nth-child(6) .tickets-link {
  background-color: #ffb298;
}
.carousel-inner .item:nth-child(7) .date-time,
.carousel-inner .item:nth-child(7) .name-show,
.carousel-inner .item:nth-child(7) .place,
.carousel-inner .item:nth-child(7) .comment {
  background-color: #ffbe00;
}
.carousel-inner .item:nth-child(7) .more-link {
  background-color: #ffd633;
}
.carousel-inner .item:nth-child(7) .tickets-link {
  background-color: #ffe065;
}
.calendar {
  text-align: center;
  background: #d6d6d6;
  font-size: 18px;
  font-family: 'HelveticaNeueCyrBold';
  padding: 10px 0;
}
.nav {
  position: fixed;
  z-index: 100;
  width: 320px;
  left: 0;
  height: 100%;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.nav.active {
  visibility: visible;
  opacity: 1;
}
.nav-list a {
  text-decoration: none;
  color: #010101;
}
.nav-list a:hover {
  color: #959595;
}
.nav-list a:active {
  background: black;
  color: white;
}
.nav-list > li {
  border-top: 3px solid white;
}
.nav-list > li:last-child {
  border-bottom: 3px solid white;
}
.nav-list > li > a {
  font-size: 24px;
  font-family: 'HelveticaNeueCyrBold';
  padding: 10px 0;
  padding-left: 70px;
  display: block;
}
.nav-list > li > ul > li:first-child a {
  border-top: 1px solid black;
}
.nav-list > li > ul a {
  font-size: 18px;
  font-family: 'HelveticaNeueCyrLight';
  padding: 3px 0;
  padding-left: 70px;
  display: block;
  border-bottom: 1px solid black;
}
.small-img {
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: cover;
  height: 190px;
}
.small-img .name-show {
  width: 50%;
  margin-top: 66px;
}
.small-img .place {
  width: 50%;
  float: left;
  margin: 0;
  height: 34px;
  line-height: 34px;
}
.small-img .date-time {
  width: 50%;
  float: left;
  margin: 0;
}
.small-img .more {
  width: 60%;
}
.small-img .more-link {
  display: block;
  width: 100%;
  height: 33px;
  line-height: 33px;
  font-size: 24px;
  font-family: 'HelveticaNeueCyrLight';
  text-align: center;
  text-decoration: none;
}
.small-img .tickets-link {
  display: block;
  width: 60%;
  float: right;
  height: 34px;
  margin-top: 3px;
  line-height: 33px;
  font-size: 24px;
  font-family: 'HelveticaNeueCyrLight';
  text-align: center;
  text-decoration: none;
}
.small-img .bot-block {
  margin-top: 30px;
}
.small-img .more {
  margin-top: 123px;
}
.purple .name-show,
.purple .place,
.purple .date-time {
  background-color: #9932ff;
  color: white;
}
.purple .tickets-link {
  background-color: #d6adff;
  color: white;
}
.purple .tickets-link:hover {
  color: black;
}
.purple .more-link {
  color: white;
  background-color: #b770ff;
}
.purple .more-link:hover {
  color: black;
}
.poster .title {
  font-size: 12px;
  font-family: 'HelveticaNeueCyrLight';
  padding: 10px 0;
  padding-left: 20px;
}
.poster-container {
  margin-bottom: 60px;
}
.poster-container.mrg {
  margin-bottom: 20px;
}
.poster-container.archive {
  text-align: center;
}
.poster-container.archive img {
  max-width: 100%;
  height: auto;
}
.poster-container.second {
  padding-right: 60px;
  padding-left: 10px;
}
.poster-container.left{
  margin-left: -15px;
}
.poster-container .city {
  text-align: center;
  font-size: 24px;
  font-family: 'HelveticaNeueCyrLight';
  margin-bottom: 25px;
}
.poster-list {
  text-align: center;
}
.poster-list .theatre {
  font-size: 24px;
  font-family: 'HelveticaNeueCyrBold';
  margin-bottom: 5px;
}
.poster-list .poster-tel {
  font-size: 18px;
  font-family: 'HelveticaNeueCyrLight';
  margin-bottom: 5px;
}
.poster-list h4 {
  font-size: 18px;
  font-family: 'HelveticaNeueCyrBold';
  margin-bottom: 10px;
}
.poster-list .yandex {
  display: inline-block;
  background: white;
  padding: 2px 40px;
}
.poster-list .searcher {
  margin-bottom: 16px;
}
.poster-list .google {
  display: inline-block;
  background: white;
  padding: 2px 40px;
}
.poster-list .scheme {
  margin-bottom: 25px;
}
.poster-list .scheme a {
  display: inline-block;
  background-color: white;
  text-decoration: none;
  color: black;
  font-size: 24px;
  font-family: 'HelveticaNeueCyrLight';
  padding: 2px 100px;
}
.advert {
  background-color: white;
  width: 80%;
  padding: 25px 20px;
  margin-bottom: 25px;
}
.advert h4 {
  font-size: 18px;
  font-family: 'HelveticaNeueCyrBlack';
  margin-bottom: 25px;
}
.advert h3 {
  font-size: 24px;
  font-family: 'HelveticaNeueCyrBlack';
  margin-bottom: 25px;
}
.advert p {
  font-size: 18px;
  font-family: 'HelveticaNeueCyrLight';
  line-height: 1.3;
  margin-bottom: 20px;
}
.advert p.small {
  font-size: 14px;
}
.advert strong,
.advert b {
  font-family: 'HelveticaNeueCyrBold';
}
.facebook {
  display: inline-block;
  width: 13px;
  height: 23px;
  background: url(../images/facebook.png) no-repeat;
}
.youtube {
  display: inline-block;
  width: 22px;
  height: 26px;
  background: url(../images/youtube.png) no-repeat;
}
.vk {
  display: inline-block;
  width: 24px;
  height: 14px;
  background: url(../images/vk.png) no-repeat;
}
.instagram {
  display: inline-block;
  width: 23px;
  height: 22px;
  background: url(../images/instagram.png) no-repeat;
}
.social {
  text-align: center;
}
.social .icon {
  display: inline-block;
  width: 42px;
  height: 42px;
}
.social .icon:hover {
  background-color: #ebebeb;
}
.social .icon:active {
  background-color: black;
}
.social .icon:active .facebook {
  background: url(../images/facebook-active.png) no-repeat;
}
.social .icon:active .youtube {
  background: url(../images/youtube-active.png) no-repeat;
}
.social .icon:active .vk {
  background: url(../images/vk-active.png) no-repeat;
}
.social .icon:active .instagram {
  background: url(../images/instagram-active.png) no-repeat;
}
.adress {
  text-align: center;
  line-height: 1.3;
  font-size: 18px;
  font-family: 'HelveticaNeueCyrLight';
  margin-bottom: 15px;
}
.adress.mrg {
  margin-top: 90px;
}
.up-block {
  text-align: center;
}
.up-btn {
  display: inline-block;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
  font-size: 18px;
  font-family: 'HelveticaNeueCyrBold';
}
.up-btn p {
  margin-top: 3px;
}
.left-content {
  padding-left: 0;
}
.show {
  width: 270px;
  margin: auto;
  color: white;
  text-align: center;
  margin-bottom: 20px;
}
.show.red {
  background-color: red;
}
.show.red .more {
  background-color: #ff4d4d;
}
.show.red .tickets {
  background-color: #ff7f7f;
}
.show.pink {
  background-color: #ff99cc;
}
.show.pink .more {
  background-color: #ffb7db;
}
.show.pink .tickets {
  background-color: #ffcbe5;
}
.show.pink .name-show {
  background-color: #ff99cc;
}
.show.blue {
  background-color: #3299ff;
}
.show.blue .more {
  background-color: #70b7ff;
}
.show.blue .tickets {
  background-color: #98cbff;
}
.show.blue .name-show {
  background-color: #3299ff;
}
.show.orange {
  background-color: #ff6532;
}
.show.orange .name-show {
  background-color: #ff6532;
}
.show.orange .more {
  background-color: #ff9470;
}
.show.orange .tickets {
  background-color: #ffb298;
}
.show.purple {
  background-color: #9932ff;
}
.show.purple .name-show {
  background-color: #9932ff;
}
.show.purple .more {
  background-color: #b770ff;
}
.show.purple .tickets {
  background-color: #d6adff;
}
.show.green {
  background-color: #009999;
}
.show.green .name-show {
  background-color: #009999;
}
.show.green .more {
  background-color: #4db7b7;
}
.show.green .tickets {
  background-color: #7fcbcb;
}
.show.yellow {
  background-color: #ffbe00;
}
.show.yellow .name-show {
  background-color: #ffbe00;
}
.show.yellow .more {
  background-color: #ffd633;
}
.show.yellow .tickets {
  background-color: #ffe065;
}
.show img {
  max-width: 100%;
  height: auto;
  text-align: center;
}
.show .date-show {
  font-size: 24px;
  font-family: 'HelveticaNeueCyrBlack';
  padding-top: 10px;
}
.show .date-show span {
  font-family: 'HelveticaNeueCyrBold';
}
.show .theatre-show {
  font-size: 18px;
  font-family: 'HelveticaNeueCyrLight';
  padding-top: 10px;
  padding-bottom: 5px;
}
.show .table-block {
  display: table;
  width: 100%;
  height: 65px;
}
.show .name-show {
  font-size: 30px;
  font-family: 'HelveticaNeueCyrBlack';
  padding: 0;
  margin-top: 0;
}
.show .name-show span {
  font-size: 24px;
  font-family: 'HelveticaNeueCyrLight';
}
.show .more {
  display: block;
  width: 100%;
  height: 30px;
  line-height: 30px;
  font-family: 'HelveticaNeueCyrLight';
  font-size: 24px;
  color: white;
  text-align: center;
  text-decoration: none !important;
}
.show .tickets {
  display: block;
  width: 100%;
  height: 30px;
  line-height: 30px;
  font-family: 'HelveticaNeueCyrLight';
  font-size: 24px;
  color: white;
  text-align: center;
  text-decoration: none !important;
}
.city-reg {
  text-align: center;
  color: black;
}
.city-reg .year {
  font-size: 18px;
  font-family: 'HelveticaNeueCyrBold';
  margin-bottom: 15px;
}
.city-reg .city-place {
  font-size: 24px;
  margin-bottom: 10px;
  font-family: 'HelveticaNeueCyrBlack';
}
.city-reg .date {
  font-size: 18px;
  font-family: 'HelveticaNeueCyrBold';
}
.region .advert {
  width: 270px;
  margin: auto;
  margin-top: 130px;
}
.region.second .advert {
  margin-top: 0;
  height: 375px;
  margin-bottom: 20px;
}
.show-link {
  display: block;
  cursor: pointer;
}

.modal-dialog .title {
  padding: 0 25px;
  color: white;
  padding-top: 12px;
  padding-bottom: 8px;
}
.modal-dialog .date-time-modal {
  font-size: 24px;
  margin-bottom: 8px;
}
.modal-dialog .date {
  width: 50%;
  float: left;
  font-family: 'HelveticaNeueCyrBlack';
}
.modal-dialog .time {
  width: 50%;
  float: left;
  text-align: right;
  font-family: 'HelveticaNeueCyrBold';
}
.modal-dialog .theatre-name {
  text-align: center;
  font-family: 'HelveticaNeueCyrLight';
  font-size: 18px;
}
.modal-dialog .name-show-modal {
  height: 60px;
  padding-left: 23px;
  padding-right: 23px;
}
.modal-dialog h2 {
  font-size: 30px;
  text-align: center;
  font-family: 'HelveticaNeueCyrBlack';
}
.modal-dialog .about-show {
  display: block;
  width: 100%;
  text-align: center;
  height: 30px;
  line-height: 30px;
  text-decoration: none;
  font-size: 24px;
  font-family: 'HelveticaNeueCyrLight';
  color: white;
}
.modal-dialog .tickets-link {
  display: block;
  width: 100%;
  text-align: center;
  height: 30px;
  line-height: 30px;
  text-decoration: none;
  font-size: 24px;
  font-family: 'HelveticaNeueCyrLight';
  color: white;
}
.modal-dialog .close {
  position: absolute;
  z-index: 2;
  right: 0;
  top: -30px;
  cursor: pointer;
}
.cast header {
  height: 30px;
  line-height: 30px;
  font-size: 18px;
  font-family: 'HelveticaNeueCyrBlack';
  text-align: center;
}

.cast header.grey {
  background: #c2c2c2;
}
.cast header.red{
  background: #ffb2b2;
}
.cast-list.grey a:hover{
  background: #acacac;
}
.cast-list {
  font-size: 18px;
  padding-top: 10px;
}
.cast-list.red {
  background-color: #ffd9d9;
}
.cast-list.grey {
  background-color: #d7d7d7;
}
.cast-list li {
  margin-bottom: 10px;
}
.cast-list p {
  font-family: 'HelveticaNeueCyrLight';
  padding: 1px 20px;
}
.cast-list a {
  color: black;
  text-decoration: none;
  display: block;
  padding: 2px 20px;
  cursor: pointer;
}
.cast-list a:hover {
  color: white;
  background-color: red;
}
.cast-list strong {
  font-family: 'HelveticaNeueCyrBold';
}
.breadcrumb {
  font-size: 12px;
  font-family: 'HelveticaNeueCyrLight';
  padding: 7px 0;
  margin-bottom: 10px;
}
.breadcrumb li {
  display: inline-block;
}
.breadcrumb li + li:before {
  content: "»";
  padding: 0 2px;
}
.breadcrumb li a {
  color: black;
  text-decoration: none;
}
.breadcrumb li a:hover {
  text-decoration: underline;
}
.about {
  height: 176px;
  padding-left: 20px;
  padding-right: 350px;
}
.about.red {
  background: url(../images/red-header.jpg) no-repeat 50%;
  background-size: cover;
}
.about.grey {
  background: #acacac;
}
.about .producer {
  font-size: 18px;
  font-family: 'HelveticaNeueCyrBold';
}
.about .show-name {
  font-size: 44px;
  color: white;
  font-family: 'HelveticaNeueCyrBlack';
  margin: 10px 0;
}
.about .description {
  font-size: 18px;
  font-family: 'HelveticaNeueCyrBold';
}
.about .description p {
  margin-bottom: 5px;
}
.about-content {
  padding-left: 20px;
  font-size: 18px;
  font-family: 'HelveticaNeueCyrLight';
  padding-top: 15px;
}
.about-content strong {
  font-family: 'HelveticaNeueCyrBold';
}
.about-content > div {
  margin-bottom: 25px;
}
.about-content h3 {
  font-size: 24px;
  font-family: 'HelveticaNeueCyrBlack';
  margin-bottom: 20px;
}
.about-content .list li {
  margin-bottom: 5px;
}
.about-content .text-show p {
  margin-bottom: 15px;
  line-height: 1.3;
}
.about-content .press li {
  margin-bottom: 15px;
}
  .about-content .press li a{
    color: #000;
    text-decoration: none;
  }
  .about-content .press li a:hover{
    text-decoration: underline;
  }
.about-sidebar {
  position: absolute;
  z-index: 2;
  width: 270px;
  top: 0;
  right: 40px;
}
.about-sidebar .cast-list {
  padding-bottom: 10px;
}
.about-sidebar .cast-list li:last-child {
  margin-bottom: 0;
}
.trailer {
  margin-bottom: 30px;
}
.trailer.archive{
  margin-top: 30px;
}
.about-wrapper {
  position: relative;
  margin-bottom: 50px;
}
.about-wrapper.journal {
  min-height: 420px;
}
.about-wrapper.journal .about-content {
  padding-top: 0;
}
.about-wrapper.journal .text-comment .title {
  height: 220px;
  font-size: 14px;
}
.about-content {
  padding-right: 350px;
}
.next-show {
  padding-top: 5px;
  background-color: red;
  margin-bottom: 30px;
}
.next-show h4 {
  font-size: 18px;
  font-family: 'HelveticaNeueCyrBold';
  text-align: center;
}
.date-time-block {
  font-size: 24px;
  color: white;
  margin: 10px 0;
  padding: 0 10px;
}
.date-time-block .date {
  width: 50%;
  float: left;
  font-family: 'HelveticaNeueCyrBlack';
}
.date-time-block .time {
  width: 50%;
  float: left;
  text-align: right;
  font-family: 'HelveticaNeueCyrBold';
}
.name-theatre {
  text-align: center;
  font-size: 18px;
  font-family: 'HelveticaNeueCyrLight';
  color: white;
  padding-bottom: 5px;
}
.more {
  display: block;
  height: 30px;
  line-height: 30px;
  text-align: center;
  text-decoration: none;
  color: white;
  font-family: 'HelveticaNeueCyrLight';
  font-size: 24px;
}
.more.red {
  background-color: #ff4d4d;
}
.tickets {
  display: block;
  height: 30px;
  line-height: 30px;
  text-align: center;
  text-decoration: none;
  color: white;
  font-family: 'HelveticaNeueCyrLight';
  font-size: 24px;
}
.tickets.main-tickets {
  margin-top: 6px;
  line-height: 32px;
}
.tickets.main-tickets .tickets-link {
  padding: 0;
}
.tickets.red {
  background-color: #ff7f7f;
}
.comments {
  margin-bottom: 10px;
}
.comments h4 {
  font-size: 18px;
  font-family: 'HelveticaNeueCyrBlack';
  margin-bottom: 10px;
}
.comments textarea {
  width: 100%;
  height: 90px;
  border: 0;
  outline: 0;
  background-color: white;
  resize: none;
  font-size: 14px;
  font-family: 'HelveticaNeueCyrLight';
  padding-left: 15px;
  padding-top: 7px;
}
.enter-with {
  font-size: 18px;
  font-family: 'HelveticaNeueCyrLight';
  margin-bottom: 10px;
}
.enter-with .social {
  display: inline-block;
  vertical-align: middle;
}
.send-not-reg {
  width: 100%;
  background-color: white;
  border: 0;
  outline: 0;
  cursor: pointer;
  height: 30px;
  color: black;
  font-family: 'HelveticaNeueCyrLight';
  font-size: 18px;
  margin-bottom: 20px;
}
.text-comment {
  background-color: white;
  padding-left: 15px;
  padding-top: 10px;
}
.text-comment .title {
  font-size: 14px;
  color: #959595;
  font-family: 'HelveticaNeueCyrLight';
  height: 400px;
}
.content {
  padding-left: 20px;
}
.team-block {
  text-align: center;
  font-size: 18px;
  height: 420px;
  padding: 0 10px;
}
.team-block .name {
  font-family: 'HelveticaNeueCyrBlack';
  margin-bottom: 8px;
}
.team-block .position {
  font-family: 'HelveticaNeueCyrLight';
}
.team-block .team-img {
  margin-bottom: 17px;
}
.team-block img {
  max-width: 100%;
  height: auto;
}
.person-info {
  font-family: 'HelveticaNeueCyrLight';
  width: 75%;
  line-height: 1.3;
  font-size: 18px;
}
.person-info strong {
  font-family: 'HelveticaNeueCyrBold';
}
.person-info p {
  margin-bottom: 15px;
}
.person-info .quote {
  padding-left: 20px;
}
.person-info h3 {
  font-size: 24px;
  font-family: 'HelveticaNeueCyrBlack';
  margin-bottom: 15px;
}
.person-img {
  margin-bottom: 15px;
  position: relative;
}
.person-img > img {
  float: left;
  max-width: 100%;
  height: auto;
}
.person-img .person-name {
  float: left;
  padding-left: 15px;
  padding-top: 200px;
  font-size: 36px;
  font-family: 'HelveticaNeueCyrBlack';
}
.person-slide {
  text-align: center;
  margin-bottom: 20px;
}
.person-slide img {
  max-width: 100%;
  height: auto;
}
.logo-brand {
  padding-left: 10px;
}
.person-aside {
  width: 140px;
  height: 140px;
  position: absolute;
  z-index: 2;
  background: white;
  top: 0;
  padding-top: 15px;
  right: 50px;
}
.person-aside .link-producer {
  display: block;
  width: 100%;
  height: 27px;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  text-align: center;
  text-decoration: none;
  color: black;
  margin: 10px 0;
  font-size: 18px;
  line-height: 24px;
  font-family: 'HelveticaNeueCyrLight';
}
.person-aside .link-producer:hover {
  color: #959595;
}
.person-aside .link-producer:active {
  background: black;
  color: white;
}
.person-aside .next-page {
  padding-left: 10px;
}
.about-theatre h3 {
  font-size: 24px;
  font-family: 'HelveticaNeueCyrBlack';
  margin-bottom: 10px;
}
.about-theatre .text {
  margin-left: -20px;
  background: #454545;
  font-size: 24px;
  font-family: 'HelveticaNeueCyrBold';
  color: white;
  padding: 15px 20px;
  line-height: 1.3;
  margin-bottom: 30px;
}
.about-theatre-container {
  font-family: 'HelveticaNeueCyrLight';
}
.about-theatre-container .title {
  background: white;
  padding: 3px 10px;
  font-size: 24px;
  margin-bottom: 20px;
}
.about-theatre-container .title.mrg {
  margin-bottom: 0;
}
.about-theatre-container .block {
  padding-right: 20px;
}
.about-theatre-container p {
  font-size: 18px;
  line-height: 1.3;
}
.about-theatre-container .afisha {
  text-align: center;
}
.about-theatre-container .afisha img {
  max-width: 100%;
  height: auto;
}
.about-theatre-container .text {
  background: #454545;
  font-size: 24px;
  font-family: 'HelveticaNeueCyrBold';
  color: white;
  padding: 15px 20px;
  line-height: 1.3;
  margin-bottom: 30px;
  margin-top: 20px;
}
.about-theatre-container .col-lg-4 img {
  margin-bottom: 15px;
}
.about-theatre-container .col-lg-4 p {
  margin-bottom: 15px;
}
.archive-img {
  margin-bottom: 20px;
}
.text-container {
  font-size: 18px;
  font-family: 'HelveticaNeueCyrLight';
}
.text-container p {
  line-height: 1.3;
  margin-bottom: 15px;
}
.text-container.pad {
  padding-right: 200px;
}
.text-container img {
  max-width: 100%;
  height: auto;
  margin-bottom: 20px;
}
.text-container strong,
.text-container b {
  font-family: 'HelveticaNeueCyrBold';
}
.text-container i {
  font-family: 'HelveticaNeueCyrBoldItalic';
}
.text-container .quote {
  border-left: 20px solid white;
  padding-left: 5px;
  line-height: 1.3;
  margin-bottom: 25px;
}
.text-container .quote.second {
  text-align: center;
  border: 0;
  padding-left: 0;
  margin-bottom: 15px;
  font-size: 24px;
}
.text-container .quote.second .quote-block {
  display: inline-block;
  text-align: right;
  border-right: 20px solid white;
  padding: 20px 0;
  padding-right: 10px;
}
.journal .logo {
  text-align: center;
  padding-top: 10px;
  margin-bottom: 20px;
}
.journal .text-container {
  position: relative;
  padding-right: 235px;
}
.journal .person-aside {
  position: relative;
  margin: auto;
  right: 0;
}
.journal .person-aside img {
  margin-bottom: 0;
}
.journal .aside-block {
  position: absolute;
  z-index: 2;
  right: 0;
  top: 0;
  width: 235px;
}
.journal .show-list {
  text-align: center;
  margin-top: 200px;
  padding: 0 20px;
}
.inerview-block {
  text-align: center;
  margin-bottom: 35px;
}
.inerview-block header {
  font-size: 24px;
  font-family: 'HelveticaNeueCyrBold';
  color: white;
  line-height: 1.3;
  background: #454545;
  padding: 5px 20px;
  text-align: left;
  margin-bottom: 15px;
}
.inerview-block header span {
  font-family: 'HelveticaNeueCyrBlack';
}
.inerview-block p {
  padding-left: 20px;
  text-align: left;
}
.inerview-block strong {
  font-family: 'HelveticaNeueCyrBold';
}
.interview-list {
  font-size: 18px;
  font-family: 'HelveticaNeueCyrLight';
}
.interview-list li {
  margin-top: 15px;
  line-height: 1.2;
}
.interview-list a {
  text-decoration: none;
  color: black;
}
.interview-list a:hover {
  text-decoration: underline;
}
.j-social {
  font-size: 18px;
}
.j-social .j-facebook {
  float: left;
}
.j-social .j-facebook img {
  float: left;
}
.j-social .j-vk {
  float: left;
  margin-left: 30px;
}
.j-social .j-vk img {
  float: left;
  position: relative;
  top: 8px;
}
.j-social a {
  width: 105px;
  height: 30px;
  display: block;
  text-align: center;
  float: left;
  line-height: 30px;
  color: black;
  font-family: 'HelveticaNeueCyrLight';
  background: white;
  text-decoration: none;
  margin-left: 10px;
}
.contact-block {
  margin-bottom: 30px;
}
.contact-block .poster-list {
  text-align: left;
}
.contact-desc {
  font-size: 18px;
  line-height: 1.2;
}
.send-form {
  margin-top: 20px;
  width: 270px;
}
.send-form input[type="text"] {
  width: 100%;
  height: 30px;
  border: 0;
  outline: 0;
  background-color: white;
  padding-left: 15px;
  font-size: 18px;
  font-family: 'HelveticaNeueCyrLight';
}
.send-form input[type="text"].for-symbol {
  text-align: center;
  padding: 0;
}
.send-form textarea {
  width: 100%;
  height: 260px;
  resize: none;
  border: 0;
  outline: 0;
  background-color: white;
  padding-left: 15px;
  font-size: 18px;
  font-family: 'HelveticaNeueCyrLight';
  padding-top: 8px;
}
.send-form .send {
  width: 100%;
  height: 30px;
  border: 0;
  outline: 0;
  cursor: pointer;
  background-color: white;
  font-size: 18px;
  font-family: 'HelveticaNeueCyrLight';
  color: black;
}
.send-form .send:hover {
  color: #959595;
}
.send-form .send:active {
  background: black;
  color: white;
}
.input-block {
  margin-bottom: 7px;
}
.symbol {
  height: 30px;
  background-color: white;
  text-align: center;
  line-height: 30px;
}
.next-performances {
  padding-top: 10px;
  text-align: center;
}
.next-performances a {
  display: inline-block;
  text-decoration: none;
  font-family: 'HelveticaNeueCyrBold';
  font-size: 18px;
  color: black;
}
.next-performances img {
  margin-top: 5px;
}
.alphabet {
  text-transform: uppercase;
  font-family: 'HelveticaNeueCyrLight';
  font-size: 9px;
  text-align: center;
  background-color: white;
  padding-top: 5px;
  margin-left: -20px;
  padding-bottom: 5px;
  margin-bottom: 15px;
}
.alphabet span {
  cursor: pointer;
  padding-left: 2px;
  padding-right: 2px;
}
.small-team {
  margin-left: -20px;
}
.date-block {
  display: inline-block;
  width: 24px;
  text-align: center;
  position: relative;
}
.date-block .tooltip {
  position: absolute;
  padding: 3px 10px;
  color: white;
  font-size: 18px;
  font-family: 'HelveticaNeueCyrBlack';
  width: 200px;
  left: 50%;
  visibility: hidden;
  opacity: 0;
  margin-left: -85px;
  top: -38px;
  z-index: 3;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.date-block .number-date{
  font-family: 'HelveticaNeueCyrBold';
  font-size: 18px;
  height: 24px;
  background-color: white;
  cursor: pointer;
  line-height: 24px;
  display: inline-block;
  width: 100%;
}
.date-block .day-cal{
  font-family: 'HelveticaNeueCyrBold';
  font-size: 18px;
  position: relative;
  top: -3px;
  z-index: 4;
}
.cal-month .distributor{
  color: #8C8C8C;
  padding-left: 10px;
  padding-right: 10px;
}
.date-block .number-date:hover + div {
  visibility: visible;
  opacity: 1;
  top: -28px;
}
.date-block .number-date[data-slide-to="0"] {
  background-color: #009999;
}
.date-block .number-date[data-slide-to="0"]:hover {
  color: white;
}
.date-block .number-date[data-slide-to="0"] + div {
  background-color: #009999;
}
.date-block .number-date[data-slide-to="1"] {
  background-color: #3299ff;
}
.date-block .number-date[data-slide-to="1"]:hover {
  color: white;
}
.date-block .number-date[data-slide-to="1"] + div {
  background-color: #3299ff;
}
.date-block .number-date[data-slide-to="2"] {
  background-color: red;
}
.date-block .number-date[data-slide-to="2"]:hover {
  color: white;
}
.date-block .number-date[data-slide-to="2"] + div {
  background-color: red;
}
.date-block .number-date[data-slide-to="3"] {
  background-color: #9932ff;
}
.date-block .number-date[data-slide-to="3"]:hover {
  color: white;
}
.date-block .number-date[data-slide-to="3"] + div {
  background-color: #9932ff;
}
.date-block .number-date[data-slide-to="4"] {
  background-color: #ff99cc;
}
.date-block .number-date[data-slide-to="4"] + div {
  background-color: #ff99cc;
}
.date-block .number-date[data-slide-to="4"]:hover {
  color: white;
}
.date-block .number-date[data-slide-to="5"] {
  background-color: #ff6532;
}
.date-block .number-date[data-slide-to="5"] + div {
  background-color: #ff6532;
}
.date-block .number-date[data-slide-to="5"]:hover {
  color: white;
}
.date-block .number-date[data-slide-to="6"] {
  background-color: #ffbe00;
}
.date-block .number-date[data-slide-to="6"] + div {
  background-color: #ffbe00;
}
.date-block .number-date[data-slide-to="6"]:hover {
  color: white;
}
.date-block .number-day {
  font-family: 'HelveticaNeueCyrRoman';
  font-size: 11.5px;
  position: relative;
  z-index: 4;
}
.date-block.top .number-day{
  top: 20px;
}
.cal-month {
  margin-bottom: 30px;
  position: relative;
  padding-left: 30px;
}
.month-prev {
  position: absolute;
  cursor: pointer;
  z-index: 2;
  left: 20px;
  top: 0;
}
.month-prev.disable{
  display: none;
}
.month-next {
  position: absolute;
  cursor: pointer;
  z-index: 2;
  right: 20px;
  top: 0;
}
.contact-carousel {
  margin-left: -20px;
}
.contacts-desc,
.contact-desc {
  padding-left: 20px;
  padding-right: 20px;
}
.about-theatre-container .carousel {
  margin-left: -20px;
}
.inner-container{
  position: absolute;
  width: 24px;
  height: 27px;
  z-index: 2;
}
.inner-container:hover{
  z-index: 3;
}
.inner-container.second{
  bottom: -9px;
}
.inner-container.second-var{
  bottom: 2px;
}

.inner-container.first{
  top: -17px;
}
.inner-container.third{
  top: -24px;
}
.inner-container .number-date{
  font-family: 'HelveticaNeueCyrLight';
  font-size: 11.5px;
}




/**************************/
.modal.green .modal-dialog .title {
  background-color: #009999;
}
.modal.green .modal-dialog h2 {
  color: #009999;
}
.modal.green .modal-dialog .about-show {
  background-color: #009999;
}
.modal.green .modal-dialog .tickets-link {
  background-color: #7fcbcb;
}
.modal.green .cast-list a:hover{
  background-color: #009999;
}
.modal.green .cast header{
  background-color: #b2e0e0;
}
.modal.green .scrollbar-inner{
  background-color: #d9f0f0;
}
/**************************/
.modal.blue .modal-dialog .title {
  background-color: #3299ff;
}
.modal.blue .modal-dialog h2 {
  color: #3299ff;
}
.modal.blue .modal-dialog .about-show {
  background-color: #3299ff;
}
.modal.blue .modal-dialog .tickets-link {
  background-color: #98cbff;
}
.modal.blue .cast-list a:hover{
  background-color: #3299ff;
}
.modal.blue .cast header{
  background-color: #c1e0ff;
}
.modal.blue .scrollbar-inner{
  background-color: #e1f0ff;
}
/**************************/
.modal.red .modal-dialog .title {
  background-color: #fc0000;
}
.modal.red .modal-dialog h2 {
  color: #fc0000;
}
.modal.red .modal-dialog .about-show {
  background-color: #fc0000;
}
.modal.red .modal-dialog .tickets-link {
  background-color: #ff7f7f;
}
.modal.red .cast-list a:hover{
  background-color: #fc0000;
}
.modal.red .cast header{
  background-color: #ffb2b2;
}
/**************************/
.modal.purple .modal-dialog .title {
  background-color: #9932ff;
}
.modal.purple .modal-dialog h2 {
  color: #9932ff;
}
.modal.purple .modal-dialog .about-show {
  background-color: #9932ff;
}
.modal.purple .modal-dialog .tickets-link {
  background-color: #d6adff;
}
.modal.purple .cast-list a:hover{
  background-color: #9932ff;
}
.modal.purple .cast header{
  background-color: #e0c1ff;
}
.modal.purple .scrollbar-inner{
  background-color: #f0e1ff;
}
/**************************/
.modal.pink .modal-dialog .title {
  background-color: #ff99cc;
}
.modal.pink .modal-dialog h2 {
  color: #ff99cc;
}
.modal.pink .modal-dialog .about-show {
  background-color: #ff99cc;
}
.modal.pink .modal-dialog .tickets-link {
  background-color: #ffcbe5;
}
.modal.pink .cast-list a:hover{
  background-color: #ff99cc;
}
.modal.pink .cast header{
  background-color: #ffe0f0;
}
.modal.pink .scrollbar-inner{
  background-color: #fff0f7;
}
/**************************/
.modal.orange .modal-dialog .title {
  background-color: #ff6633;
}
.modal.orange .modal-dialog h2 {
  color: #ff6633;
}
.modal.orange .modal-dialog .about-show {
  background-color: #ff6633;
}
.modal.orange .modal-dialog .tickets-link {
  background-color: #ffb299;
}
.modal.orange .cast-list a:hover{
  background-color: #ff6633;
}
.modal.orange .cast header{
  background-color: #ffd1c1;
}
.modal.orange .scrollbar-inner{
  background-color: #ffe8e1;
}
/**************************/
.modal.yellow .modal-dialog .title {
  background-color: #ffbe00;
}
.modal.yellow .modal-dialog h2 {
  color: #ffbe00;
}
.modal.yellow .modal-dialog .about-show {
  background-color: #ffbe00;
}
.modal.yellow .modal-dialog .tickets-link {
  background-color: #ffde7f;
}
.modal.yellow .cast-list a:hover{
  background-color: #ffbe00;
}
.modal.yellow .cast header{
  background-color: #ffebb2;
}
.modal.yellow .scrollbar-inner{
  background-color: #fff5d9;
}
/**************************/

.hidden-day,
.hidden-time{
  display: none;
}
.comments-block{
  width: 270px;
  margin-left: 20px;
  margin-top: 20px;
}
