@media(min-width: 992px){
	.visible-sm{
		display: none !important;
	}
}
@media(min-width: 768px){
	.visible-xs{
		display: none !important;
	}
}

@media(max-width: 1199px){
	.hidden-md{
		display: none !important;
	}
	.date-time{
		font-size: 20px;
	}
	.main-name-show{
		font-size: 24px;
	}
	.poster-container.second{
		padding-right: 0;
	}
	.region .advert{
		width: 100%;
	}
	.region .show,
	.show-container .show{
		width: 100%;
	}
	.poster-container .col-lg-4{
		padding-left: 15px;
		padding-right: 15px;
	}

	.region .col-lg-6{
		padding-left: 15px;
		padding-right: 15px;
	}
	.region.second .col-lg-4{
		padding-left: 15px;
		padding-right: 15px;
	}
	.region .show .date-show{
		font-size: 20px;
	}
	.region .show .name-show{
		font-size: 26px;
	}
	.region.second .advert{
		height: 371px;
	}
	.person-info{
		width: 100%;
		padding-right: 20px;
	}
	.text-container.pad{
		padding-right: 20px;
	}

}

@media(max-width: 991px){
	.hidden-sm{
		display: none !important;
	}
	.sidebar{
		width: 100%;
		height: 60px;
		position: relative;
	}
	.sidebar .menu{
		position: absolute;
		left: 30px;
		width: auto;
		margin-top: -9px;
	}
	.wrapper{
		padding-left: 0;
	}
	.logo{
		padding-top: 7px;
	}
	.nav{
		position: absolute;
		min-height: 100%;
		height: auto;
		left: -235px;
		padding-top: 0;
		background: #fff;
	}
	.nav.active{
		left: 0;
	}
	.nav-list > li:first-child{
		border-top: 0;
	}
	.accardeon_inner{
		display: none;
	}	
	.nav-list{
		background-color: #ebebeb;
	}
	.accardeon_item.active > a{
		color: #959595;
	}
	.small-social{
		margin-top: 20px;
		text-align: left;
		padding-left: 60px;
	}
		.small-social li a{
			text-align: center;
		}
	.carousel{
		margin-left: -20px;
	}
	.contact-desc,
	.contacts-desc{
		padding-left: 20px;
		padding-right: 20px;
	}
}


@media(max-width: 767px){
	.hidden-xs{
		display: none !important;
	}
	.col-64{
		width: 100%;
	}
	.region .col-lg-8{
		width: 100%;
	}
	.modal{
		background: #fff;
	}
	.modal-dialog{
		top: 0;
		left: 0;
		margin-top: 0;
		margin-left: 0;
		position: relative;
		margin: 60px auto 0;
	}
	.region.second .col-lg-4{
		width: 50%;
	}
	.about{
		height: auto;
		padding-bottom: 20px;
		padding-top: 20px;
		padding-right: 20px;
		margin-top: -3px;
	}
	.about-content{
		padding-right: 20px;
	}
	.mobile-content{
		padding-left: 20px;
		padding-right: 20px;
	}
	.mobile .breadcrumb{
		padding-left: 20px;
		margin-bottom: 0;
	}
	.person-img > img{
		float: none;
	}
	.person-img .person-name{
		float: none;
		padding-top: 20px;
		padding-left: 0;
	}
	.about-theatre-container .col-lg-8{
		width: 100%;
		float: none;
	}
	.about-theatre-container .col-lg-6{
		width: 100%;
		float: none;
		margin-bottom: 10px;
	}
	.about-theatre-container .title{
		margin-bottom: 10px;
	}
	.about-theatre-container .text{
		font-size: 18px;
	}
	.poster-container .col-lg-4{
		width: 50%;
	}
	.poster-container .col-lg-4:nth-child(2n+1){
		clear: both;
	}
	.poster-container{
		margin-left: -20px;
	}
	.show .name-show{
		font-size: 26px;
	}
	.show .name-show span{
		font-size: 20px;
	}
	.mobile-block .col-lg-4{
		width: 100%;
		float: none;
	}
	.inerview-block header{
		background: transparent;
		color: #000;
		padding-left: 0;
	}
	.inerview-block p{
		padding-left: 0;
	}
	.interview .col-lg-4{
		width: 100%;
	}
	.text-container .quote{
		border-left: 0;
	}
	.journal .text-container{
		padding-right: 20px;
	}
	.text-container .quote.second .quote-block{
		display: block;
		border:0;
		text-align: left;
		padding:  0;
	}
	.j-social .j-vk{
		float: none;
		margin-left: 0;
	}
	.j-social .j-facebook{
		float: none;
		margin-bottom: 20px;
		padding-left: 10px;
	}
	.journal .logo{
		padding-left: 0;
		padding-right: 20px;
		text-align: center;
	}
	.about-wrapper.journal .about-sidebar{
		position: relative;
		right: 0;
	}
	.about-wrapper.journal .about-content{
		padding: 0;
		margin-bottom: 20px;
	}
}

@media(max-width: 480px){
	.poster-list .scheme a{
		padding: 2px 80px;
	}
	.poster-list .yandex,
	.poster-list .google{
		padding-left: 25px;
		padding-right: 25px;
	}
	.region .col-lg-6{
		width: 100%;
	}
	.poster-container .col-lg-4{
		width: 100%;
	}
	.region .show{
		width: 270px;
	}
	.show-container .show{
		height: auto;
		width: 270px;
	}
	.logo{
		padding-left: 50px;
	}
	.region.second .col-lg-4{
		width: 100%;
	}
	.about-sidebar{
		width: 100%;
		margin-left: -20px;
		padding-left: 20px;
	}
	.send-form{
		width: 100%;
		margin-left: -20px;
		padding-left: 20px;
	}
}